{% extends "layout.html" %}

{% block content %}
<h2 class="about-f1-title">About F1</h2>
<p class="about-f1-text">
    Welcome to the F1 Dashboard for W209, Section 02 Summer 2025. 
    We hope you enjoy learning about the fastest show on earth, 
    where 20 drivers each year compete to be the fastest in the world.
</p>

<!-- Background image container -->
<div class="about-f1-bg" 
     style="background-image: url('{{ url_for('static', filename='img/about_F1.jpg') }}');">
</div>
{% endblock %}
