{% extends "layout.html" %}

{% block content %}
<h2 class="purpose-title">Purpose</h2>
<p class="purpose-text">
    In this series of dashboards, we’ve attempted to emulate the data that a commentator would like to share with viewers on F1 tv and other broadcasts to enhance their viewing experience.
</p>

<p class="purpose-text">
    We hope to provide a more engaging and informative experience for F1 fans, allowing them to better understand the intricacies of the sport and the performance of their favorite drivers and teams.
</p>

<p class="purpose-text">
  We hope you enjoy it!
</p>

<!-- Background image container for Purpose -->
<div class="purpose-bg">
    <img src="{{ url_for('static', filename='img/purpose.jpeg') }}" alt="purpose">
</div>
{% endblock %}