{% extends "layout.html" %}

{% block content %}
<h2>Purpose</h2>
<p>This Dashboard gives us exciting views into driver performance amongst a series of unique metrics to compare driver career over time. You can select Drivers to compare by either searching their name or clicking the checkbox near their name. We use the following metrics for driver comparisons - Teammate Dominance, Team Loyalty, Age, Age of Debut, Career Length, Rookie Scoire, Peak Season Score, Competitive Seasons.

    Each Metric is calculated as follows:
</p>
{% endblock %}