
<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <header><div class="navbar">F1 Competition Dashboard</div></header>
  <div class="search-box">
    <input type="text" id="menuSearch" placeholder="Search menu...">
  </div>
  <div class="sidebar">{{ sidebar|safe }}</div>
  <div class="main-content">
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
    {% if tableau %}
      {% if tableau is string %}
        <div class='tableauPlaceholder'>
          <object class='tableauViz' width='100%' height='600'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F'/>
            <param name='embed_code_version' value='3'/>
            <param name='name' value='{{ tableau }}'/>
            <param name='tabs' value='no'/>
            <param name='toolbar' value='yes'/>
          </object>
        </div>
      {% elif tableau is iterable %}
        {% for tlink in tableau %}
        <div class='tableauPlaceholder'>
          <object class='tableauViz' width='100%' height='600'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F'/>
            <param name='embed_code_version' value='3'/>
            <param name='name' value='{{ tlink }}'/>
            <param name='tabs' value='no'/>
            <param name='toolbar' value='yes'/>
          </object>
        </div>
        {% endfor %}
      {% endif %}
    {% endif %}
  </div>
  <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
  <script src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>
</body>
</html>
