
<input type="text" id="menuSearch" placeholder="Search menu...">
<a href="/" class="home-link"><i class="fa fa-home"></i> Home</a>

<button class="collapsible"><i class="fa fa-book"></i> About</button>
<div class="content">
  <a href="/page/about/about-f1"><i class="fa fa-angle-right"></i> About F1</a>
  <a href="/page/about/purpose"><i class="fa fa-angle-right"></i> Purpose</a>
  <a href="/page/about/team-members"><i class="fa fa-angle-right"></i> Team Members</a>
</div>

<button class="collapsible"><i class="fa fa-chart-line"></i> Dashboards</button>
<div class="content">

  <button class="collapsible"><i class="fa fa-flag-checkered"></i> Driver Career Performance</button>
  <div class="content">
    <a href="/page/dashboards/competition/trend-line"><i class="fa fa-angle-right"></i> Radar Plot with Definitions of Career Metrics</a>
    <a href="/page/dashboards/competition/across-tracks"><i class="fa fa-angle-right"></i> Race Number and Finish Position</a>
    <a href="/page/dashboards/competition/car-evolution-rules"><i class="fa fa-angle-right"></i> Car Evolution / Rules</a>
  </div>

  <button class="collapsible"><i class="fa fa-car"></i> Track</button>
  <div class="content">
    <a href="/page/dashboards/drivers/driver-1"><i class="fa fa-angle-right"></i> Track 1</a>
    <a href="/page/dashboards/drivers/driver-2"><i class="fa fa-angle-right"></i> Track 2</a>
    <a href="/page/dashboards/drivers/driver-3"><i class="fa fa-angle-right"></i> Track 3</a>
  </div>

  <button class="collapsible"><i class="fa fa-stopwatch"></i> Constructor</button>
  <div class="content">
    <a href="/page/dashboards/qualifying/qualifying-vs-final"><i class="fa fa-angle-right"></i> Constructor vs Final</a>
    <a href="/page/dashboards/qualifying/grid-size-by-decade"><i class="fa fa-angle-right"></i> Grid Size by Decade</a>
    <a href="/page/dashboards/qualifying/avg-final-by-qualifying"><i class="fa fa-angle-right"></i> Avg Final by Constructor</a>
  </div>
</div>

<button class="collapsible"><i class="fa fa-folder-open"></i> Resources</button>
<div class="content">
  <a href="/page/resources/documentation"><i class="fa fa-angle-right"></i> Documentation</a>
  <a href="/page/resources/github-link"><i class="fa fa-angle-right"></i> GitHub Link</a>
</div>
